.Rproj.user
.Rhistory
.RData
*.Rdata
*.pdf

.Data/*
.Figures_Season/*

data/*
results/*
literature/*
article/Submitted Abstract- WP-disease-Gordon Research Conference 2018.docx
article/Abstract- WP-disease-Gordon Research Conference 2018_BP.docx
article/Abstract- WP-disease-Gordon Research Conference 2018.docx
*.svg
*.rds
